/* @keyframes spin {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  50% {
    transform: rotateX(360deg) rotateY(360deg);
  }
  100% {
    transform: rotateX(0) rotateY(0);
  }
} */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: radial-gradient(#ffffff, #eee);
}
/* https://paulrhayes.com/animated-css3-cube-interface-using-3d-transforms/ */
#cube-container {
  perspective: 800px;
  perspective-origin: 50% 200px;
  margin: 250px auto;
  outline: none;
}

#cube {
  position: relative;
  margin: auto;
  height: 400px;
  width: 400px;
  transition: transform 0.2s linear;
  transform-style: preserve-3d;
  /* animation: spin 6s ease-in-out infinite; */
}

.face {
  display: contents;
}
/*
#cube .up {
  transform: rotateX(90deg) translateZ(200px);
}

#cube .front {
  transform: translateZ(200px);
}

#cube .down {
  transform: rotateY(90deg) translateZ(200px);
}

#cube .left {
  transform: rotateY(180deg) translateZ(200px);
}

#cube .right {
  transform: rotateY(-90deg) translateZ(200px);
}

#cube .back {
  transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
} */

.tile {
  position: absolute;
  margin: 1px;
  border: 4px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  width: 133px;
  height: 133px;
}

/* COMPLETELY TAKEN FROM https://github.com/diervo/html5rubik/blob/master/tutorial/step1/index.html */
/* CUBIES POSITIONS*/
/*UP FACE CUBIES*/
.utl {
  transform: rotateX(90deg) translate3d(50px, -100px, 0);
}
.ucl {
  transform: rotateX(90deg) translate3d(50px, 0, 0);
}
.ubl {
  transform: rotateX(90deg) translate3d(50px, 100px, 0px);
}
.utc {
  transform: rotateX(90deg) translate3d(150px, -100px, 0);
}
.ucc {
  transform: rotateX(90deg) translate3d(150px, 0, 0);
}
.ubc {
  transform: rotateX(90deg) translate3d(150px, 100px, 0);
}
.utr {
  transform: rotateX(90deg) translate3d(250px, -100px, 0);
}
.ucr {
  transform: rotateX(90deg) translate3d(250px, 0, 0);
}
.ubr {
  transform: rotateX(90deg) translate3d(250px, 100px, 0);
}
/*FRONT FACE CUBIES*/
.ftl {
  transform: translate3d(50px, 50px, 150px);
}
.fcl {
  transform: translate3d(50px, 150px, 150px);
}
.fbl {
  transform: translate3d(50px, 250px, 150px);
}
.ftc {
  transform: translate3d(150px, 50px, 150px);
}
.fcc {
  transform: translate3d(150px, 150px, 150px);
}
.fbc {
  transform: translate3d(150px, 250px, 150px);
}
.ftr {
  transform: translate3d(250px, 50px, 150px);
}
.fcr {
  transform: translate3d(250px, 150px, 150px);
}
.fbr {
  transform: translate3d(250px, 250px, 150px);
}
/*DOWN FACE CUBIES*/
.dtl {
  transform: rotateX(-90deg) translate3d(50px, -100px, 300px);
}
.dcl {
  transform: rotateX(-90deg) translate3d(50px, 0, 300px);
}
.dbl {
  transform: rotateX(-90deg) translate3d(50px, 100px, 300px);
}
.dtc {
  transform: rotateX(-90deg) translate3d(150px, -100px, 300px);
}
.dcc {
  transform: rotateX(-90deg) translate3d(150px, 0px, 300px);
}
.dbc {
  transform: rotateX(-90deg) translate3d(150px, 100px, 300px);
}
.dtr {
  transform: rotateX(-90deg) translate3d(250px, -100px, 300px);
}
.dcr {
  transform: rotateX(-90deg) translate3d(250px, 0px, 300px);
}
.dbr {
  transform: rotateX(-90deg) translate3d(250px, 100px, 300px);
}
/*BACK FACE CUBIES*/
.btl {
  transform: rotateX(-180deg) translate3d(50px, -250px, 150px);
}
.bcl {
  transform: rotateX(-180deg) translate3d(50px, -150px, 150px);
}
.bbl {
  transform: rotateX(-180deg) translate3d(50px, -50px, 150px);
}
.btc {
  transform: rotateX(-180deg) translate3d(150px, -250px, 150px);
}
.bcc {
  transform: rotateX(-180deg) translate3d(150px, -150px, 150px);
}
.bbc {
  transform: rotateX(-180deg) translate3d(150px, -50px, 150px);
}
.btr {
  transform: rotateX(-180deg) translate3d(250px, -250px, 150px);
}
.bcr {
  transform: rotateX(-180deg) translate3d(250px, -150px, 150px);
}
.bbr {
  transform: rotateX(-180deg) translate3d(250px, -50px, 150px);
}
/*LEFT FACE CUBIES*/
.ltl {
  transform: rotateY(-90deg) translate3d(-100px, 50px, 0px);
}
.lcl {
  transform: rotateY(-90deg) translate3d(-100px, 150px, 0px);
}
.lbl {
  transform: rotateY(-90deg) translate3d(-100px, 250px, 0px);
}
.ltc {
  transform: rotateY(-90deg) translate3d(0px, 50px, 0px);
}
.lcc {
  transform: rotateY(-90deg) translate3d(0px, 150px, 0px);
}
.lbc {
  transform: rotateY(-90deg) translate3d(0px, 250px, 0px);
}
.ltr {
  transform: rotateY(-90deg) translate3d(100px, 50px, 0px);
}
.lcr {
  transform: rotateY(-90deg) translate3d(100px, 150px, 0px);
}
.lbr {
  transform: rotateY(-90deg) translate3d(100px, 250px, 0px);
}
/*RIGHT FACE CUBIES*/
.rtl {
  transform: rotateY(90deg) translate3d(-100px, 50px, 300px);
}
.rcl {
  transform: rotateY(90deg) translate3d(-100px, 150px, 300px);
}
.rbl {
  transform: rotateY(90deg) translate3d(-100px, 250px, 300px);
}
.rtc {
  transform: rotateY(90deg) translate3d(0px, 50px, 300px);
}
.rcc {
  transform: rotateY(90deg) translate3d(0px, 150px, 300px);
}
.rbc {
  transform: rotateY(90deg) translate3d(0px, 250px, 300px);
}
.rtr {
  transform: rotateY(90deg) translate3d(100px, 50px, 300px);
}
.rcr {
  transform: rotateY(90deg) translate3d(100px, 150px, 300px);
}
.rbr {
  transform: rotateY(90deg) translate3d(100px, 250px, 300px);
}
