/* @keyframes spin {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  50% {
    transform: rotateX(360deg) rotateY(360deg);
  }
  100% {
    transform: rotateX(0) rotateY(0);
  }
} */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: radial-gradient(#ffffff, #eee);
}
/* https://paulrhayes.com/animated-css3-cube-interface-using-3d-transforms/ */
#cube-container {
  perspective: 800px;
  perspective-origin: 50% 200px;
  margin: 250px auto;
  outline: none;
}

#cube {
  position: relative;
  margin: auto;
  height: 400px;
  width: 400px;
  transition: transform 0.3s linear;
  transform-style: preserve-3d;
  /* animation: spin 6s ease-in-out infinite; */
}

.face {
  display: contents;
}

.tile {
  position: absolute;
  margin: 1px;
  border: 4px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  width: 105px;
  height: 105px;
  transition: all 0.2s linear;
}

.arrow {
  transform-origin: center;
  transform: scaleX(-1) translate(0, -60px) rotate(-110deg);
  width: 80px;
  position: absolute;
}
